body {
    background-color: black;
    background: url("images/backgroud.jpg");
    font-size: 80px
}

.head {
    background: transparent;
    color: aquamarine;
    font-family: monospace;
    margin: 40px auto 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    border: 3px dashed darksalmon;
    border-radius: 50px;
    width: 400px;
}

h2 {
    color: lightblue;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    font-weight: bold;

}

h3 {
    color: lightblue;
    margin: 0 auto;
    text-align: center;
}

.switch {
    width: 20px;
    background: transparent;
}

button {
    background: transparent;
}