body {
        background-color: black;
        background: url("images/backgroud.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 60px;
}

.head {
        background-color: rgba(28, 28, 28, 0.9);
        color: aquamarine;
        font-family: monospace;
        margin: 60px auto 0 auto;
        padding: 20px;
        text-align: center;
        font-size: 50px;
        border: 3px dashed darksalmon;
        border-radius: 50px;
        width: 400px;
}

h2 {
        color: lightblue;
        margin: 20px auto 10px;
        text-align: center;
        font-family: monospace;
        font-weight: bold;
        width: 600px;
}

h3 {
        color: lightblue;
        margin: 0 auto;
        text-align: center;
}

.switch {
        width: 20px;
        background: transparent;
}

button {
        margin-top: 20px;
        background: transparent;
        cursor: pointer;
        border: none;
}
